video-source/nginx-html/videos/
video-source/videos
video-source/html-stream/videos
video-capture/logs/
video-capture/data/
video-capture/__pycache__/
vide-capture/logs/geckodriver.log
capture-transform-store/transform/sample.mp4
